<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CorrespondenceStorageFolder" value="D:\设计一所\项目\Posorja\提交文件_苏东升\CHEC"/>
    <add key="CorrespondenceTemplate" value="Andy.docx"/>
    <add key="ApprovalFormStorageFolder" value="D:\设计一所\项目\Posorja\提交文件_苏东升\Internal Control File"/>
    <add key="ApprovalFormTemplate" value="DocumentApprovalForm.docx"/>
  </appSettings>
</configuration>